@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('./fontes/idroid/idroid.otf') format("opentype");
}

:root{ /* para fazer os padrões, facilita na hora de escolher cores e fontes */
    --cor0: #e6ffe0;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrão: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-titulo: 'Android', sans-serif;
}

body {
    font-family: var(--fonte-padrão);
    width: 100%; /* corpo ocupando a tela toda */
    background-color: var(--cor0); /* usar var(--cor) pra usar as cores do root*/
    margin: 0;
    padding: 0;
}
header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    font-weight: normal;
    color: white;
    text-shadow: 1px 1px 4px #00000077;
    text-align: center;
    padding: 20px;
}

header>h1{
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: lighter;
}

header>p{
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
}

nav {
    padding: 10px;
    background-color: var(--cor4);
    box-shadow: 0 7px 9px #00000067;
}
 .menu{
    color: white;
    padding: 10px;
    text-decoration: none;
    transition-duration: .5s; /* transição quando passar o mouse por cima, meio segundo*/
 }

 .menu:hover{
    text-decoration: underline;
    font-weight: bold;
    background-color: var(--cor1);
    color: var(--cor4);
 }

 main{
    padding: 20px;
    min-width: 300px; /* largura mínima */
    max-width: 1000px; /* largura máxima */
    box-shadow: 0 0 10px #00000050;
    margin: auto; /* margem automática para centralizar */
    margin-bottom: 10px;
    background-color: white;
    text-align: justify;
    border-bottom-left-radius: 10px; /* borda arredondada em baixo/esquerda */
    border-bottom-right-radius: 10px; /* borda arredondada em baixo/direita */
}

main p{
    text-indent: 30px; /* uma margem de início de parágrafo */
}

/* pode usar main tag para mudar uma tag dentro do main */
strong{  /* estilo somente no texto em negrito */
    color: var(--cor4);
}

.link{  /* pode usar main a (sem >) para mexer em todos as tags a dentro do main */
    color: var(--cor4);
    text-decoration: none;
    font-weight: bold;
 }

.link:hover{
    text-decoration: underline;
    color: var(--cor1);
}

a.link::after{ /* todo link externo vai ter o emoji depois tag a, class link, after depois */
    content: '\1F517'; /* ID dos emojis na emojipedia.org */
}
    
 .link2{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
 }

.link2:hover{
    text-decoration: underline;
    color: var(--cor1);
}

 .titulo{
    font-family: var(--fonte-titulo);
    color: var(--cor5);
    font-size: 1.7em;
    font-weight: normal;
 }

 .titulo1{
    font-family: var(--fonte-titulo);
    background-image: linear-gradient(90deg,#83e1ad, white);
    color: var(--cor4);
    font-size: 1.5em;
    text-indent: 10px;
    font-weight: normal;
}

 picture{
    width: 100%; /* largura que vai ocupar do main */
    display: block; /* transforma em box-level */
    margin: auto;
 }

img{
    display: block;
    margin: auto;
}

.bugdroid{
    max-width: 350px; /* imagens menores usar porcentagem menor */
 }

.video{
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0 -20px 30px -20px;
    padding: 20px;
    position: relative;
 }

.video>iframe{
    display: block;
    margin:auto;
    width: 80%;
}

aside{
    width: 75%;
    box-shadow: 1px 1px 5px #80808077;
    margin: auto;
    padding: 20px;
    background-color: #ddffdb;
    border-radius: 10px;
 }

aside h2{
    background-color: var(--cor4);
    text-shadow: 1px 1px 4px #00000077;
    color: white;
    text-indent: 15px;
    border-radius: 10px 10px 0  0;
    margin: -20px -20px 20px -20px;
    padding: 10px;
 }
 
.coluna{
    flex-direction: column; /* transforma o texto em colunas (só fucionou quando coloquei o texto em um box-level, nesse caso, article */
    column-count: 2; /* quantidade de colunas */
    text-align: justify;
}

a{
    text-decoration: none;
    color:var(--cor4);
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
    color: var(--cor1);
}

abbr{
    text-decoration: none; /* tira toda decoração do texto */
    cursor: help; /* muda o cursor para interrogação quando bota o mouse em cima */
    text-align: justify;
}

footer{
    font-size: 0.8em;;
    background-color: var(--cor4);
    color: white;
    text-align: center;
    padding: 7px 0px;
}

footer p{
    margin: 0;
    padding: 0;
}